Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.log
config.status
configure
install-sh
missing
*.xz
*.gz
*~
*.swp
tests/*.trs
tests/*.log
test-suite.log
*.pyc
*.img
*.iso
tap-driver.sh
py-compile
*.log
*.8
