[Unit]
Description=Reconfigure vdsm
Before=supervdsmd.service
After=chronyd.service ntpd.service
ConditionPathExists=/var/lib/ngn-vdsm-need-configure

[Service]
ExecStartPre=/usr/bin/sleep 2
ExecStart=/usr/bin/vdsm-tool -v configure --force
ExecStartPost=/usr/bin/rm /var/lib/ngn-vdsm-need-configure
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
