[Unit]
Description=Remove non-imgbased entries from grub
Before=imgbased-motd.service

[Service]
ExecStart=/usr/sbin/imgbase --experimental boot --remove-other-boot-entries
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
