# FIXME https://bugzilla.redhat.com/show_bug.cgi?id=1393833

[Unit]
Description=Generate a random iSCSI initiator IQN name if necessary
Before=iscsi.service iscsid.service
ConditionPathExists=!/etc/iscsi/initiatorname.iscsi

[Service]
ExecStart=/usr/bin/bash -c "sed \"s/:.*$/:$$(cut -d- -f 5 < /proc/sys/kernel/random/uuid)/\" /usr/share/factory/etc/iscsi/initiatorname.iscsi > /etc/iscsi/initiatorname.iscsi"
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
