---
name: CI

# TODO:
# The automation we had in Jenkins did deep integration testing using virtualization.
# We should do something similar here.

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: centos-stream-8
            shortcut: cs8
            container-name: el8stream
          - name: centos-stream-9
            shortcut: cs9
            container-name: el9stream

    name: ${{ matrix.name }}

    env:
      ARTIFACTS_DIR: exported-artifacts

    container:
      image: quay.io/ovirt/buildcontainer:${{ matrix.container-name }}

    steps:
    - name: Checkout sources
      uses: actions/checkout@v2
      
    - name: Install tools that should be in buildcontainer / BuildRequires
      run: dnf install -y python3-pycodestyle python3-pyflakes asciidoc python3-coverage python3-nose python3-systemd

    - name: Autogen
      run: ./autogen.sh

    - name: Check code
      run: make -j distcheck

    - name: Build RPM
      run: make rpm

    - name: Collect artifacts
      run: |
        mkdir -p exported-artifacts
        find ~/rpmbuild/*RPMS/ -iname \*rpm -exec mv "{}" $ARTIFACTS_DIR/ \;
        mv ./*tar.xz $ARTIFACTS_DIR/

    - name: Upload artifacts
      uses: ovirt/upload-rpms-action@v2
      with:
        directory: ${{ env.ARTIFACTS_DIR}}
